apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: db-ns-policy
spec:
  podSelector:
    matchLabels:
      role: db
  policyTypes:
  - Ingress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.namespace: rb
    ports:
    - protocol: TCP
      port: 8080
